<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('../partials/head') %>
</head>
<body>
  <%- include('../partials/header') %>

  <main>
    <%- include('../partials/hero') %>
    <%- include('../partials/about') %>
    <%- include('../partials/products') %>
    <%- include('../partials/contact') %>
  </main>

  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>
</body>
</html>
